*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 50px;
  background-color: black;
  color: white;
}

.video-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}


.about {
  z-index: 3;
  position: absolute;
  color: white;
  /* left: 0; */
  top: 50%; /* Vertically center */
  transform: translateY(-50%);
  width: 500px;
  margin: 50px;
}
.scroll_container {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide overflow */
}

.scroll1, .scroll3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  animation: scroll 10s linear infinite;
}

.scroll2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  animation: scrollreverse 5s linear infinite;
}

.scroll1_box, .scroll2_box {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.scroll1_box img, .scroll2_box img {
  height: 150px;
}

@keyframes scroll {
  0% {
    transform: translateY(0); /* Start from the top */
  }
  100% {
    transform: translateY(-100%); /* Scroll to the bottom */
  }
}

@keyframes scrollreverse {
  0% {
    transform: translateY(-100%); /* Start from the top */
  }
  100% {
    transform: translateY(0); /* Scroll to the bottom */
  }
}

.scroll1, .scroll2, .scroll3 {
  animation: scroll 10s linear infinite;
}

.scroll1, .scroll2, .scroll3 {
  animation-timing-function: linear;
}
